
@font-face {
  font-family: logo;
  src: url(../assets/logo.TTF);
  
} 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{

  font-family: "roboto";

}
  

/* Aqui empieza Header, Nav y logo para TODAS las paginas-------------------*/ 

.logoHeader {
  font-family: "logo";
  font-size: 2em;
  text-decoration-line: underline;
  margin-right: 10px;
  color: rgb(1, 60, 68);
  
}


.bg-color{
  background-color: #3D7FAA
 }
 
 a{
   transition: all 1 ease-in-out;
    
 }
 
 header p:hover, a:hover ,.btn-primary:hover{
   transform: scale(0.8);
   
 
 }
 




/*FOOTER DE TODAS LAS PAGINAS*--------------------------------------------*/

.background-footer{

background-color: #C0C0C0;
}

footer div div a{
  color:#7BB0D2;
}

footer div div a:hover{

  color: greenyellow;
}


/* ACA INDEX--------------------------------------------------------------*/


.contenedor-main{
  height: 70vh;
  background-image: rgb(61,127,170);
  background-image: linear-gradient(152deg, rgba(61,127,170,1) 1%, rgba(86,153,196,1) 30%, rgba(123,176,210,1) 38%, rgba(192,192,192,1) 71%, rgba(218,218,218,1) 83%);
  

}

.logoMain{
 
  font-family: "logo";
  font-size: 4em;
  text-decoration-line: underline;
  margin-right: 10px;
  color: rgb(1, 60, 68);
    
}
.descripcionMain{
  font-family: "roboto";
  
}

@media only screen and (max-width: 550px){

  .Carrusel-cards{
    flex-direction: column;
    align-items: center;
    
    
  }
  
}
  
.carousel-control-next, .carousel-control-prev {
  width: 10%;
}

 .bg-carrusel{
 background-color: #DADADA;







 }



/*Aca comienza main del archivo "Nosotros" */


.mainNosotros{
  margin-top: 0px ;
  padding: 10px;
  text-align:center;
  background-image: url(../images/white-painted-concrete-wall-gef58b93fb_1920.jpg);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  grid-area: main;
}

.contenedorNosotros{
  margin-top: 70px;
  display: flex;
  flex-direction:column ;
  justify-content: space-around;
  flex-wrap:wrap;
  align-items: stretch; 
  max-width: 100%;
  min-width: 400px;
  height:50vh;
 
}

.nuestrosValores{
  background-color: rgb(176, 202, 175);
  border: solid black 1px;
  margin: auto;
  width: 33%;
  height: 210px;

}
  

.nuestraMision{
  background-color: rgb(179, 173, 164);
  border: solid black 1px;
  margin:auto;
  width: 33%;
  height: 210px;
  
}
 

.nuestraVision{
  background-color: rgb(165, 184, 187);
  border: solid black 1px;
  margin:auto;
  width:33%;
  height: 210px;
  
}





/* ACA EMPIEZA MAIN DEL ARCHIVO CATALOGO-------------------------------------- */

.mainCatagolo{
  padding: 10px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-align: center;  
  text-transform: uppercase;
  background-image: url(../images/white-painted-concrete-wall-gef58b93fb_1920.jpg);
  grid-area: main;
         
}

.contenedorCatalogo {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  flex-wrap: wrap;
  height: 50vh;
  width: 100vw;
 
}

.boxCatalogo{
  width: 200px;
  height: 150px;
}


.herramientas{
  background-color: transparent;
  padding:50px;
  border: 1px black solid;
  margin: auto;
  
}

.pinturas{
  background-color: lightcoral;
  padding: 50px;
  margin:auto;
  
}

.hogarDecoracion{
  background-color: lightpink ;
  padding: 50px;
  margin:auto
}
  
.cerrajeria{
  background-color:rgb(105, 103, 103);
  padding: 50px; 
  margin:auto;
  
}

.construccion{
  background-color:#8b854d;
  padding: 50px;
  margin: auto;
}

.electricidad{
  background-color: rgb(147, 142, 226);
  padding: 50px; 
  margin: auto;
  
}

main section a {
  text-decoration: none;
  color: rgb(41, 10, 10);


}

/* ACA EMPIEZA MAIN DEL ARCHICO CONTACTO -----------------------------------*/

.btn-primary{

  background-color: #DADADA;
  color:black;
  border-color: #94bfd6;
}

.btn-primary:hover{
  background-color:  #4c7c96;
  transition: all 1 ease-in-out;
}

.mainContacto{
  background-color: #DADADA;

}
@media (max-width: 761px) {

.margenTop{
  margin: 2rem;
}
 }


/* ACA COMIENZA MAIN DEL ARCHIVO "TIPS CONSTRUCCION */


.mainConstruccion{
  padding: 10px;
  background-image: url(../images/white-painted-concrete-wall-gef58b93fb_1920.jpg);
  font-family: Arial, Helvetica, sans-serif;
}

.seccionesConstruccion{
padding:10px;
margin: 30px;
}

.articulosConstruccion{
  border: 1px solid black;
  padding: 10px;
  background-color:lightgrey;
  margin: 30px;
  
}
main section h3{
  margin-bottom: 10px;
}


@media only screen and (max-width: 850px){

  .googleMap {
    display:none;
  }      
  
}
  
