.btn-primary {
    background-color: map-get($paleta, gris-claro );
    color: black;
    border-color: #94bfd6;
    border-radius: 10px;
}
.btn-primary:hover {
    background-color: #4c7c96;
    transition: all 1 ease-in-out;
}
