.logo-Header {
    font-family: "logo";
    font-size: 2em;
    text-decoration-line: underline;
    margin-right: 10px;
    color: map-get($paleta , logo); 
}
.bg-color {
    background-color: map-get($paleta, azul-deep );
}
a,  .hover-footer {
    transition: all 1 ease-in-out; 
}
 header p:hover, ul li a:hover {
    transform: scale(0.8);
 }

/* Esto modidica nav index y nav "tips Const."*/

.nav-link{
    color:black;
}

.nav-link:hover{
    color:rgb(128, 158, 129)

}

@media only screen and (max-width:576px){
    header p:hover, ul li a:hover {
        transform:none;
    }
}   