.contenedor-main {
    height: 100vh;
    background-image: map-get($paleta, azul-deep);
    background-image: linear-gradient(152deg, map-get($paleta, azul-deep) 1%, 
    map-get($paleta, azul-medio) 30%, map-get($paleta, azul-claro) 38%,
    map-get($paleta, gris-medio) 71%, map-get($paleta, gris-claro) 83%,);
}

/*MIXIN*/

@mixin logo {
    font-family: 'logo';
    font-size: 4em;
    text-decoration-line: underline;
    margin-right: 10px;
    color: map-get($paleta,logo); 
    

}
/*MIXIN APLICADO*/

.logo-Main {
    @include logo;
}

.descripcion-Main {
    font-family: 'roboto'; 
}

.carousel-control-next, .carousel-control-prev {
    width: 10%;
}

.bg-carrusel {
    background-color: map-get($paleta, gris-claro); 
}

@media only screen and (max-width: 550px) {
        .Carrusel-cards {
        flex-direction: column;
        align-items: center; 
    } 
    .none-para-movil{
        display: none;
    }
}

@media only screen and (min-width: 551px) {

.none-para-desktop{
    display: none;
    }
}