.card-about{
    text-align: center;
    
}

.card-about--valores{
    @extend .card-about;
    background-color: map-get($paleta, gris-medio );

}


.card-about--mision{
    @extend .card-about;
    background-color: map-get($paleta, azul-claro);

}

.card-about--vision{
    @extend .card-about;
    background-color: map-get($paleta, azul-deep);

}