@import "./variables";
@import"./_botones.scss";
@import"./footer";
@import"./_header-nav.scss";
@import"./_index.scss";
@import"./_contacto.scss";
@import"./_catalogo.scss";
@import"./_Tips-construccion.scss";
@import"./_nosotros.scss";



@font-face {
  font-family: logo;
  src: url(../assets/logo.TTF); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'roboto'; 
}